<h1 class="green" id="tableLabel">Flash Cards</h1>
<p class="small">
    <i>/ˈflaSH ˌkärds/</i> <br> 
    <b>flash cards: &nbsp;</b> <i>noun (plural)</i><br>
    cards containing small amounts of textual information,<br> held up for students to see, as an aid to learning.
</p>

<p>
    This application fetches 10 flash card questions based on the survey selected <br>
    from the drop-down below.  Mouse-over the flash card to flip it and see the answer.<br>
    <br>
    <i>
        Technologies used in this CLIENT/REST API application include:<br>
        Angular 18, C#, NETCORE 8.0, Entity Framework, WebAPI, and SQL Server.
    </i>
</p>

<select #surveySelect (change)="onOptionsSelected($event)">
   <option value="0" selected>Select Survey</option>
   <option *ngFor="let survey of surveys" [value]="survey.id">{{survey.name}}</option>
</select>

<h2 class="purple">{{selectedSurvey}}</h2>

<div class ="flip-card-container" *ngFor="let question of questions;let i = index">
    <div class="flip-card" *ngIf="i === currentCardIndex && optionSelected" >
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>Question # {{i + 1}}</h2>
            <p class="flip-card-text">{{ question.questionText }}</p>
          </div>
          <div class="flip-card-back">
            <h2>Answer # {{i + 1}}</h2>
            <p class="flip-card-text">{{ question.answerText }}</p>
          </div>
        </div>
    </div>
</div>

<div class="button-container" *ngIf="optionSelected">
    <button (click)="previousCard()" class="previous" >&#8249; &#8249; Previous Card</button>
    <button (click)="nextCard()" class="next">Next Card &#8250; &#8250;</button>
</div>